[2016-11-16 20:39] sot015 opened #1 ""oc" command availability check succeeds, but oc not found in path"
Installing OSE with cluster up...

./init.sh: line 57: oc: command not found

Error occurred during oc cluster up command!

Cleaning out existing openshift docker machine.

[2016-11-16 20:41] sot015 opened #2 "oc availability check doesn't check version of oc command. (In below example version 3.2 is installed.)"
Installing OSE with cluster up...

Error: unknown command "cluster" for "oc"
Run 'oc --help' for usage.

Error occurred during oc cluster up command!

Cleaning out existing openshift docker machine.

[2016-11-16 20:53] sot015 opened #3 "Scripts proceeds after initial checks but fails on docker version. Add additional check ?"
-- Checking Docker client ... OK
-- Checking Docker version ... FAIL
   Error: Docker version is 1.8.1, it needs to be 1.10.0

Ensuring any previous OCP has been taken down...

[2016-11-17 14:56] eschabell commented on #1
Duplicate of issue #2, fixing there.

[2016-11-17 14:56] #1 closed, assigned to eschabell

[2016-11-17 15:30] #2 closed, assigned to eschabell

[2016-11-17 15:32] #3 closed, assigned to eschabell

[2016-11-21 14:14] sabre1041 opened #5 "--create-machine option cannot be used with Docker for Windows"
Since docker for windows uses hyperv as its virtualization engine, this parameter cannot be used.

Recommend a method to omit this flag when running `oc cluster up`

[2016-11-21 14:18] eschabell commented on #5
To be honest, would need an init.bat file from you for this project first... :-)

[2016-12-07 13:47] gdwinco opened #6 "certificate signed by unknown authority"
This has worked previosly

Docker 1.12.3 (13776) Stable

OC client:
oc version
oc v3.3.1.3
kubernetes v1.3.0+52492b4
features: Basic-Auth
error: server took too long to respond with version information.

// output from init.sh
Trying again to install OSE with cluster up...

-- Checking OpenShift client ... OK
-- Create Docker machine ...
   Creating docker-machine openshift
-- Checking Docker clie

[2016-12-07 13:52] eschabell commented on #6
Same here... think that there is something wrong in the OpenShift registry.... let me ask around internally...

[2016-12-07 16:59] gdwinco commented on #6
seems to be working again. Thx

[2016-12-07 16:59] #6 closed, assigned to nobody

[2016-12-07 17:01] sabre1041 commented on #6
@gdwinco There was an issue earlier this morning. It has since been resolved

[2016-12-13 15:37] jwildeboer opened #7 "Ran into some problems. Networking seems to not work."
Environment: RHEL 7.3, docker installed from RHEL repo:

[code]

First problem: no docker-machine in this. So I downloaded/installed docker-machine.

The init.sh script somehow made it but I spot some messages that look wrong:

[code]

I can login to OpenShift console but whatever template I try fails with:

[code]

Not sure how to go from here ...

[2016-12-13 15:40] eschabell commented on #7
Can you update and provide log of your run of 'init.sh'? Is this on Fedora? CBS? That kind of info....

[2016-12-13 15:41] eschabell commented on #5
Did fix this for Linux too as it's not needed there.

[2016-12-13 15:52] jwildeboer commented on #7
I notice taht docker-machine ls doesn't show anything, docker ps does. I am guessing a mismatch between installed docker and docker-machine as the root cause of this weirdness.

RHEL 7.3, CSB, latest run of init.sh

[code]

[2016-12-13 15:56] jwildeboer commented on #7
I am aslo seeing a "Failed Sync" message in Events:

`Error syncing pod, skipping: failed to "StartContainer" for "POD" with RunContainerError: "addNDotsOption: ResolvConfPath \"/var/lib/docker-latest/containers/dea8df91f3956f334aafec61ff08cc71cd5a201c8515b823727814351a132876/resolv.conf\" does not exist" `

[2016-12-13 18:15] ishuverma opened #8 "init.sh issue with installing oc"
I'm trying to install OCP on Mac. Running the init.sh, I got the following error:

./init.sh: line 72: oc: command not found
./init.sh: line 76: [: ==: unary operator expected
Version of installed OpenShift command line tools is ., must be v3.3 or higher...

I downloaded the oc cli from:
Download for Mac here: https://s3.amazonaws.com/oso-preview-docker-registry/client-tools/3.3/oc-3.3.1.3-1-macos

[2016-12-13 18:17] sabre1041 commented on #8
@ishuverma `oc` is a standalone executable. For other programs to make use of it, it must be added to the system PATH

[2016-12-13 20:06] eschabell commented on #8
@sabre1041 This is failing to find oc and it should exit on line 72, not sure why it does not.... the error should go to /dev/null....

[2016-12-13 21:45] ishuverma commented on #8
Setting the path to oc resolved the issue. Thanks.

[2016-12-13 21:45] #8 closed, assigned to nobody

[2016-12-15 13:20] eschabell commented on #7
I have not had mine generate IPs in the 10.* range, so maybe this is related to whatever network you are on?

Looks like you are having port issues.... would need to raise this with the OpenShift project as how they automate this setup is outside of this project.

Let me know if you need a name to contact?

[2016-12-16 20:14] jamesbuckett opened #9 "Update documentation to specify "--insecure-registry 172.30.0.0/16" on Linux"
Hello.
.
When running this on Ubuntu the Docker daemon needs to run with the argument : --insecure-registry 172.30.0.0/16

Could you update the documentation for Linux users :

"On Linux please ensure that the Docker daemon is running with the following argument:
        --insecure-registry 172.30.0.0/16"

[2016-12-16 20:19] jamesbuckett opened #10 "Linux OC version - ./init.sh: 76: [: v3: unexpected operator"
Hello.

wget https://s3.amazonaws.com/oso-preview-docker-registry/client-tools/3.3/oc-3.3.0.35-1-linux.tar.gz

tar -xvf oc-3.3.0.35-1-linux.tar.gz

mv oc /usr/bin/oc

`root@ubuntu-1gb-sfo1-01:~/ocp/ocp-install-demo-master# oc version
oc v3.3.0.35
kubernetes v1.3.0+52492b4
features: Basic-Auth GSSAPI Kerberos SPNEGO`

When I run ./init.sh

`##########################################################

[2016-12-19 12:53] jwildeboer commented on #7
I will try again to run the init script at home. Could well be that the office network is interfering.

[2016-12-19 18:16] eschabell commented on #9
@jamesbuckett, thanks for the report... what determines that address for the registry? Is that for all users or is they dynamically determined based on your current network?

[2016-12-19 18:18] eschabell commented on #7
Closing this for now, reopen if you think we can help.

[2016-12-19 18:18] #7 closed, assigned to eschabell

[2016-12-19 18:22] eschabell commented on #10
Yes, that is odd as the version linked to used this OCP setup produces this:

$ oc version
oc v3.3.1.3
kubernetes v1.3.0+52492b4
features: Basic-Auth
error: server took too long to respond with version information.

If you comment out the lines that check for the OC version (from line 72-86), does this 3.3.0.x version work? I am trying to determine if you need 3.3.x or 3.3.1+ before fixing the pro

[2017-01-10 13:58] ffirg opened #11 "dial tcp 209.132.182.63:443: i/o timeout on running init.sh"
Phils-MBP:ocp-install-demo-master pgriffit$ ./init.sh

##############################################################
##                                                          ##
##  Setting up your very own                                ##
##                                                          ##
##    ###  ####  ##### #   #  #### #   # ##### ##### #####  ##
##   #   # #   # #     ##  # #

[2017-01-10 14:53] jamesfalkner commented on #11
I think it was temporarily down - works for me now.

[2017-01-10 14:56] eschabell commented on #11
Yep, thanks @jamesfalkner, was going to suggest the same... timeouts happen means try again... it's not you!

[2017-01-10 14:56] #11 closed, assigned to nobody

[2017-01-10 14:58] eschabell commented on #10
Open if still an issue, provide feedback to question asked...

[2017-01-10 14:58] #10 closed, assigned to nobody

[2017-01-10 14:58] eschabell commented on #9
Open if still want this to happen and answer question above...

[2017-01-10 14:58] #9 closed, assigned to nobody

[2017-01-10 16:03] ffirg commented on #11
Thanks. Yes openshift-sme suggests that an F5 LB was an issue.
I yes getting a different error now but have deleted the docker-machine and I’m retrying.
If it’s still a problem I’ll raise another one.

[2017-01-22 04:30] xacaxulu opened #12 "./init.sh not detecting my oc cli tools"
Get CLI tools here.
[code]

[2017-01-22 04:41] xacaxulu commented on #12
NOTE: Replacing all instances of `oc whatever command` with `./oc whatever command` seems to work so I'll handle it locally. Wondering if a try/catch/try something else would work here for other adopters of this tool. Happy to PR if Admins are keen.

[2017-01-22 04:44] sabre1041 commented on #12
@xacaxulu is the `oc` executable on the `$PATH`? This is recommended as it allows the execution of OpenShift commands from any directory

[2017-01-22 04:55] xacaxulu commented on #12
@sabre1041 That is 100% reasonable.

[2017-01-22 04:55] #12 closed, assigned to nobody

[2017-02-13 02:27] warmchang opened #13 "The docker version should be 1.12 in OCP3.4/Origin1.4."
ocp-install-demo/init.sh, DOCKER_MINOR_VER should be 12.
https://docs.openshift.com/container-platform/3.4/install_config/install/host_preparation.html#installing-docker
https://docs.openshift.org/latest/install_config/install/host_preparation.html#installing-docker

[2017-02-13 03:01] warmchang commented on #13
oops, this demo run ocp by "oc cluster up", so the docker version 1.10 is enough.
close it, sorry. :-)

[2017-02-13 03:01] #13 closed, assigned to nobody

[2017-02-13 07:52] eschabell commented on #13
Thanks, no worries, best issues are the self-closing and self-teaching ones! :-)

[2017-02-16 06:22] babluchandran opened #14 "error installing ocp"
Tried installing ocp in rhel7 with docker version 1.13 and oc version 3.4.1.2-1.
Getting the below error when i run the **./init.sh** file.
**-- Checking Docker daemon configuration ... FAIL
   Error: did not detect an --insecure-registry argument on the Docker daemon
   Solution:

     Ensure that the Docker daemon is running with the following argument:
        --insecure-registry 172.30.0.0/16

[2017-02-16 06:25] babluchandran commented on #14
I followed the instructions in this link to add insecure registry....
https://github.com/openshift/origin/blob/master/docs/cluster_up_down.md#linux
Still facing the same error.

[2017-02-16 11:25] eschabell commented on #14
If your fixes do not work as described in the OpenShift Origin (that uses just 'oc cluster up') then it will not work here either. Make sure your firewall and insecure registries are setup to work with just command line 'oc cluster up'.

If that works and then it fails here, please report the console output here.

[2017-02-16 11:27] eschabell commented on #5
Any interest in putting together an init.bat for this?

[2017-02-20 10:53] eschabell commented on #14
Closing due to lack of input and need to retest with updated version 3.4.

[2017-02-20 10:53] #14 closed, assigned to eschabell

[2017-02-20 12:19] eschabell opened #15 "Business Central war fails to deploy"
On container EAP start, right at end:

09:55:37,971 INFO [org.jboss.as.server.deployment.scanner] (DeploymentScanner-threads - 1) WFLYDS0004: Found business-central.war in deployment directory. To trigger deployment create a file called business-central.war.dodeploy

Since when do we need a 'dodeploy'?

[2017-02-20 23:23] starksm64 opened #16 "Install failure"
I'm going through the installation described at http://www.schabell.org/2017/02/cloud-happiness-openshift-container-platform-install-updated.html, and it is reporting a failure:

##############################################################
##                                                          ##
##  Setting up your very own                                ##
##

[2017-02-21 00:01] starksm64 commented on #16
That particular failure appears to be due to not going through the docker post install step to allow docker to run without using sudo. After doing that, it was also required to add --insecure-registry option to the /usr/lib/systemd/system/docker.service script in order to have the init.sh script succeed.

[2017-02-21 05:28] sabre1041 commented on #15
@eschabell this demo does not deploy any applications. Did you deploy an application after standing up the demo?

Business central is delivered and deployed as an exploded war. EAP will not deploy exploded wars unless there is a .dodeploy marker file

[2017-02-21 09:19] eschabell commented on #16
Yes, this is not something I can block on, but maybe add a more prominent warning for Linux users at the start..... much more than that I can't do as the docker check is only for versions.

@starksm64: Do you have any suggestions on how to check for docker running correctly on Linux?

[2017-02-21 09:26] eschabell commented on #15
I know, just unzipping the product, nothing added, but this is how it was always done, nothing new here other than adding these:

&& sed -i 's/ExampleDS/PostgresDS/g' $BRMS_HOME/standalone/deployments/business-central.war/WEB-INF/classes/META-INF/persistence.xml \
  && sed -i 's/H2Dialect/PostgreSQLDialect/g' $BRMS_HOME/standalone/deployments/business-central.war/WEB-INF/classes/META-INF/persisten

[2017-02-22 06:32] gjayaram opened #17 "openshift environment is getting connected after restart with docker-machine start openshift"
Tried to restart the openshift environment to rework on the same project.

$ docker-machine stop openshift ---> working

MacBook-Pro:ocp-install-demo gjayaram$ docker-machine ls
NAME        ACTIVE   DRIVER       STATE     URL   SWARM   DOCKER    ERRORS
default     -        virtualbox   Stopped                 Unknown
openshift   -        virtualbox   Stopped                 Unknown

MacBook-Pro:oc

[2017-02-22 07:57] eschabell commented on #17
Docker does not manage the connections very well... I am not sure what to do when it fails on the mac like that. I solve this by stopping other applications on my machine, stopping the 'openshift' machine and restarting it.

Does that help you?

[2017-02-22 07:58] eschabell commented on #15
Wait, posted to wrong demo.... closing and moving.

[2017-02-22 07:58] #15 closed, assigned to sabre1041

[2017-02-22 10:06] eschabell commented on #16
Think I found a good way to validate deamon presence for OS X and Linux... please verify and reopen if needed. Fixed by https://github.com/redhatdemocentral/ocp-install-demo/commit/1b9f35066dfbd97b79e23b8d7c4e48892beb78f3

[2017-02-22 10:06] #16 closed, assigned to nobody

[2017-02-22 10:12] eschabell commented on #17
Bringing in @sabre1041 to have a look... make sure I am not missing anything.

Andrew, see any issue that we can fix?

[2017-02-23 09:31] eschabell commented on #17
As not able to support this reliably, will remove from the demo instructions.

[2017-02-23 09:32] #17 closed, assigned to eschabell

[2017-02-23 09:37] gjayaram commented on #17
Thanks @eschabell .

[2017-02-23 20:34] sudheerchekka opened #18 "enable metrics"
adding --metrics option to "oc custer up" in init.sh to enable metrics is not working. any recommendations how to enable metrics for this demo ?

[2017-02-24 13:38] eschabell commented on #18
If you have ideas on how to do this with limited resources (this demo targets local laptop usage), then I am all ears.

I have worked with @sabre1041 in the past to try and put this together here: https://github.com/sabre1041/rhcs-metrics-demo

It is pretty resource intensive, so decided against targeting this for this project. I will close this but remain open to a solution that works well on les

[2017-02-24 13:38] #18 closed, assigned to eschabell

[2017-02-24 13:48] eschabell commented on #18
I did play with the --metrics=true option and get metrics on container deployments, but they don't seem to work... see attached image.
<img width="524" alt="screen shot 2017-02-24 at 2 47 24 pm" src="https://cloud.githubusercontent.com/assets/437001/23305678/4703b4fa-faa0-11e6-903c-984380a75d4e.png">

[2017-02-25 01:06] sabre1041 commented on #5
@eschabell ill put it on my list

[2017-02-26 11:08] #5 closed, assigned to sabre1041

[2017-03-08 07:59] steven-ellis opened #21 "Docker Registry error"
Error: did not detect an --insecure-registry argument on the Docker daemon
   Solution:

     Ensure that the Docker daemon is running with the following argument:
     	--insecure-registry 172.30.0.0/16

The client is RHEL 7.3 with a clean docker install.

[2017-03-08 08:01] steven-ellis commented on #21
Need to add
INSECURE_REGISTRY='--insecure-registry 172.30.0.0/16'
to /etc/sysconfig/docker and restart docker service.

[2017-03-09 04:29] eschabell commented on #21
Fixed in https://github.com/redhatdemocentral/ocp-install-demo/commit/15dc4a0c2a2049feea3641434da4d31d602ba042

[2017-03-09 04:29] #21 closed, assigned to nobody

[2017-05-24 08:42] lkrzyzanek opened #24 "Cannot install on Docker 17.03 on Mac"
Installer requires docker 1.3
I have on mac official docker 17.03

Terminal says:
`Docker engine version 17.03 found... need 1.13, please install: https://drive.google.com/open?id=0B9WSViV5BZ4aVXV5U3F4LVVmWVk`

[2017-05-24 08:51] eschabell commented on #24
If you follow the link provided "https://drive.google.com/open?id=0B9WSViV5BZ4aVXV5U3F4LVVmWVk" you will find docker installer for 1.13, install that (next to or over existing version) but DON'T UPGRADE when offered, that keeps you on 1.13.

Are the instructions in the terminal unclear? How can I improve them?

[2017-05-24 08:56] lkrzyzanek commented on #24
Instructions are clear.
I saw that install DMG file on google drive but I don't want to install another version of docker. I get rid of it couple months ago and I'd like to keep just one docker.
Even more I don't feel very safety to install some application from some google drive.

Is it necessary to require specific version of docker?

[2017-05-24 08:58] lkrzyzanek commented on #24
To be more precise this is output of current version:
[code]

[2017-05-24 09:03] eschabell commented on #24
OCP does not support this version 17.x. I have to host this on google drive for my workshop(s) as it is constantly disappearing or changing locations on their site.

You can safely host two docker installs next to each other, just be sure to start the 1.13 if you want to run this demo installation.

I will update this URL to point to https://download.docker.com/mac/stable/1.13.1.15353/Docker.dmg a

[2017-05-24 11:44] lkrzyzanek commented on #24
Played with Docker 17 on Mac and here are steps to do:

1. Add `172.30.0.0/16` to insecure registry in docker preferences
2. Make sure you have installed `socat`. On mac you can install via brew e.g. `brew install socat`
3. oc cluster up --image=registry.access.redhat.com/openshift3/ose --version=v3.5

In a while OCP is available on `https://127.0.0.1:8443`.

That's it.

[2017-05-24 13:36] eschabell commented on #24
Thanks for that input, it might work for getting OCP up, but it causes problems with container builds using projects from this organization. I will have to double check that.

[2017-05-24 14:03] eschabell commented on #24
Testing more appdev in the cloud demo projects on top, but looks like this works now with 17.03 as I nail down docker 1.13 for the cluster up options to ensure internally it's using v1.13. I don't need the 'scout' install here... not sure why yours does? Might be your cluster up or oc client is missing something that mine does not need (it's not installed on my machine at all.

I will be committin

[2017-05-24 14:05] #24 closed, assigned to eschabell

[2017-05-25 08:30] lkrzyzanek commented on #24
The reason for `socat` is this:
[code]

Thanks for the update to the latest docker.

I have 17.03.0-ce-mac2 and during spinning up some testing EAP7 I had some troubles because OC was not able to work with such "long version" but it should be fixed in OC 3.6.

[2017-05-26 14:39] vinicius-martinez opened #25 "Docker Machine missing on Fedora - manual installation required"
Docker is installed... checking for valid version...

Verified the Docker deamon is running...

In order to successfully install ocp using this procedure on f25, you have to meet the following requirements:

- Docker Community Edition

sudo dnf -y install dnf-plugins-core

sudo dnf config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo

sudo dnf makecache fast

sudo dnf

[2017-05-26 16:14] eschabell commented on #24
The current init.sh is not falling over this Error... I don't have socat installed...

[2017-05-26 16:18] eschabell commented on #25
There is literally no way to capture all possible Linux variations to install docker.... for the workshop I give around this demo installation Linux is covered by going to the current documentation for the distro you are running.

Not sure what you want me to fix for your issue?

[2017-05-26 16:58] vinicius-martinez commented on #25
Not sure if you should add a  "pre reqs" section adding those required binaries.  Does it make sense for you ?

I've just filled this issue due the "error message" that's displayed after the installation failure:

[code]
Feel free to close =)

Best regards,

[2017-05-26 17:37] eschabell commented on #25
There is a pre-req... and yes, please always file everything.... this is just one if the ones I have to leave to Linux users to sort out themselves. From the readme I updated this week:

Pro Tip: Pay close attention to conosle output, will guide you to dependencies you need if missing. These dependencies are listed here and the install provides pointers to downloads if missing:

1. VirtualBox for

[2017-05-26 17:37] #25 closed, assigned to eschabell

[2017-05-29 14:54] eschabell commented on #17
Update here, fixed with https://github.com/redhatdemocentral/ocp-install-demo/commit/0240fad162003b021e31dbffd9795f0d54e7e2ca. See the NOTES section in Readme.md. :-)

[2017-05-30 03:15] ishuverma opened #26 "logging is admin"
oc login -u admin:admin doesn't seem to be working as it assumes user to be admin:admin

[2017-05-30 06:52] eschabell commented on #26
Pretty bleak bug report... you tried to us 'oc login -u admin:admin' after installing ocp-install-demo? The console output states that you can use 'oc' as follows:

oc login -u system:admin

Are you confusing the OpenShift Container Platform web console login with 'oc' logins?

[2017-05-30 07:24] ishuverma commented on #26
No, but it got resolved so closing the issue

[2017-05-30 07:24] #26 closed, assigned to eschabell

[2017-08-28 15:16] sg1970 opened #28 "Cannot Download OC command line tool v3.6.173 needed for this demo."
Trying to get this working --> https://github.com/redhatdemocentral/ocp-install-demo

When I run the init.bat file I get the error : **Version of installed OpenShift command line tools is v3.6.0-rc, must be v3.6.173**... and  it asks me to Download the **oc.exe** client  for Windows from here: https://access.redhat.com/downloads/content/290

However that link requires a paid subscription (Please c

[2017-08-28 21:45] sg1970 opened #29 "No support running on Hyper-V (Not Virtual Box) ?"
just realized that this demo needs virtual box .... I know the older versions of this demo worked on hyper-v .. has that been discontinued ?  Any reasons for that ? Thanks.

[2017-08-29 07:02] eschabell commented on #28
Yes, you need a login for this oc version at the red hat portal. If you [contact me directly](http://www.schabell.org/p/contact.html) I can provide a trial version.

[2017-08-29 07:02] #28 closed, assigned to eschabell

[2017-08-29 07:04] eschabell commented on #29
This is parameterized, it is default for osX and defaults to KVM for Linux but you can change if you like to something else supported, see [init.sh line 9 for default and line 55 for default Linux setting](https://github.com/redhatdemocentral/ocp-install-demo/blob/master/init.sh).

Does this help?

[2017-08-29 18:58] sg1970 commented on #29
@eschabell Thanks for taking the time to respond !

Unfortunately Iam **NOT** on Linux. Iam on a PC running Windows 10 Pro(ver=1607 , OS Build=14393.1593) . Using Hyper-V for virtualization.. But Docker is running in Linux mode ( using moby linux vm )  and behind a corporate proxy.

Docker Version = Version 17.06.1-ce-**win24** (13025)
Channel: stable
54dc09c

OC.exe client version = 3.6.173.0.5

[2017-08-30 20:38] sg1970 commented on #29
@eschabell

Out of curiosity I tried to access the Web Console using https://10.0.75.2:8443 (despite **init.bat** being unsuccessful ) and it worked after I accepted the TLS Cert Warning on my browser. I was also able to login as system and create a test project but there are no image streams available . I cannot create the image streams from command line as it wont let me login from CLI to execut

[2017-08-31 09:03] eschabell commented on #29
@sg1970, Looks like you have a partial install and for some reason your streams can't be installed....   it just looks like the install was partially completed, most likely just a plain empty OCP without the product image streams.

The login you need for CLI to install image streams should be what you are using:

$ oc login -u system:admin

Then on unix systems you have to evaluate the command to

[2017-08-31 15:34] sg1970 commented on #29
@eschabell

Not sure I understand what you are saying ... since the older version of int.bat file does **NOT** run the docker-machine create command to create the docker machine named "openshift"  ( like the current version of the bat file does. And Iam using the commands from the old init.bat file due to me not having Virtual-Box  as Iam using Hyper-V hypervisor on Windows 10 Pro). See the 3rd Po

[2017-08-31 18:44] eschabell commented on #29
Let me check with a teammate on this.....

@sabre1041, any ideas how we could support this on windows outside of virtualbox? Possible in our demo use case?

[2017-08-31 21:42] sg1970 commented on #29
@eschabell thanks for the help! I edited my previous post to structure it better to avoid any confusions.

[2017-09-10 04:22] sabre1041 commented on #29
@eschabell @sg1970  hyper-v adds a few more steps that would be necessary.

First, as a prerequisite, a new virtual network must be created. Otherwise, the incorrect network is utilized for docker. More information on how to create the hyper-v virtual network can be found [here](https://docs.microsoft.com/en-us/virtualization/hyper-v-on-windows/quick-start/connect-to-network).

Once the network ha

[2017-09-10 06:51] sg1970 commented on #29
@sabre1041  thanks for the response unfortunately it did not work for me .. but it did go a lot further than before so this is progress !!.  Also despite the error I can connect to the openshift vm from the Hyper-V Manager gui and login as root.

Can you post your Docker version and Windows Version info and which mode (Linux/Windows) are you running ?  Does the docker-machine create command comple

[2017-09-10 17:11] sabre1041 commented on #29
@sg1970 as described previously, you need to create an external virtual network, otherwise it will use the internal Docker network and fail as you are experiencing. When running the `docker-machine create` command, you will need to reference the name using the `--hyperv-virtual-switch` switch

[2017-09-11 20:43] sg1970 commented on #29
@sabre1041 Thanks for spotting that. I was able to exec the docker-machine create command and set my env using `@FOR /f "tokens=*" %i IN ('docker-machine env openshift') DO @%i`

But it does not start the cluster. I get the "authenticationrequired" error which I suspect is either a certificate issue or the proxy issue. ( Rant: Must say that docker/openshift tech stack is so  blissfully ignorant of

[2017-09-11 23:20] sg1970 commented on #29
@sabre1041

I re-created the docker-machine with these switches (and also using the github url for the boot2docker.iso) :   --engine-env HTTP_PROXY=http://usr:pwd@proxy.xyz.com:port  ( which downloaded the boot2docker.iso  from github and created the openshift vm succesfully .... therefore I think I have addressed the Proxy issue ).

After this I went ahead and ran the oc cluster up command and no

[2017-09-13 20:15] sg1970 commented on #29
@sabre1041

I tried dropping the image , re-creating the docker-machine create for openshift and run the oc cluster up and I run into the same error.

`c:\OC\ocp-install-demo-master>docker version`
Client:
 Version:      17.06.1-ce
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   874a737
 Built:        Thu Aug 17 22:48:20 2017
 OS/Arch:      windows/amd64

Server:
 Version:      17.06.1-c

[2017-09-13 20:31] sg1970 commented on #29
@sabre1041
just out of curiosity I executed just the "oc cluster up" command and it went further though still incomplete with a different error.

**Details**:

**c:\OC\ocp-install-demo-master>oc cluster up**
Starting OpenShift using registry.access.redhat.com/openshift3/ose:v3.6.173.0.5 ...
Pulling image registry.access.redhat.com/openshift3/ose:v3.6.173.0.5
Pulled 1/4 layers, 28% complete
Pulled

[2017-09-14 09:03] eschabell commented on #29
One problem I see is that you are using oc client version v3.6.173.0.5 and there is a new one that you need: v3.6.173.0.21

[2017-09-14 09:50] rbaumgar opened #30 "admin does not work as admin"
in your init.sh a simple command is missing:
oc adm policy add-cluster-role-to-user cluster-admin admin
Kind regards
Robert

[2017-09-14 10:46] #30 closed, assigned to nobody

[2017-09-14 10:46] eschabell commented on #30
Thanks, updated.

[2017-09-15 14:41] sg1970 commented on #29
@eschabell  @sabre1041

No luck. I got access to that version (v3.6.173.0.21) of oc.exe and ran the oc cluster up command. I got the exact same error(see err msg below).

**Question**: Has this ever worked in a corporate environment thats behind a Proxy?.  I suspect not but please clarify.

---- ERROR ----

Starting OpenShift using registry.access.redhat.com/openshift3/ose:v3.6.173.0.21 ...
-- Che

[2017-09-18 21:15] sg1970 commented on #29
@eschabell @sabre1041

Have we hit a bug? any ideas?

[2017-09-19 08:59] eschabell commented on #29
@sg1970 last error is no docker being found on the host trying to install Openshift image on... I can't replicate as don't have your platform, but need to find out why it can't find a docker to work with?

[2017-09-19 13:42] rbaumgar opened #31 "no db templates loaded"
Eric,

I am missing the DB examples from https://github.com/openshift/openshift-ansible/tree/master/roles/openshift_examples/files/examples/v3.6/db-templates

Kind regards
Robert

[2017-09-19 14:27] rbaumgar commented on #31
It looks like it was a problem of my environment. I enable the new service brocker with --service-catalog, but I didn't
oc adm policy add-cluster-role-to-group system:openshift:templateservicebroker-client system:unauthenticated system:authenticated

After that I have to logout and login...

[2017-09-19 14:37] eschabell commented on #31
So are the db's available out of the box? Or do I need to add a stream?

[2017-09-19 14:56] rbaumgar commented on #31
It looks like it was a problem of my environment. I enable the new service brocker with --service-catalog, but I didn't
oc adm policy add-cluster-role-to-group system:openshift:templateservicebroker-client system:unauthenticated system:authenticated

After that I have to logout and login...

[2017-09-19 15:00] rbaumgar commented on #31
The templates are available OOTB - only the ephemeral are missed.
But after restart (ocp-restart) the db templates are not shown again. But I can find it still in project openshift.

[2017-09-19 15:15] eschabell commented on #31
When you initially start this up (install), you need to give it enough time to pull in all the imagestreams and templates.... try that first.

If something still is missing, let me know what you need added?

[2017-09-19 15:33] sg1970 commented on #29
@eschabell

1. I notice is that the docker version was **1.13.1** for the openshift machine that was created using docker-machine create command(see attached image below). I downloaded the boot2docker.iso for version 17.06 and re-created the openshift machine and tried  this:

`oc cluster up --image=registry.access.redhat.com/openshift3/ose ......`

 but unfortunately I still get the same error:

[2017-09-19 17:13] eschabell commented on #29
@sg1970 please understand that 'oc cluster up' is never intended for corporate installations, it's a demo environment tool. This project is an extension of that trying to provide a laptop experience for as far as that works within a non-vm environment.

We try to assist your venturing off the beaten path, but have very little possibility to test this ourselves (at least I don't).

Btw, the image c

[2017-09-19 17:31] sg1970 commented on #29
@eschabell

I was just trying to compare the behavior between `oc cluster up` and` oc cluster up --image=registry.access.redhat.com/openshift3/ose` ... to try and get some clues . I don't have any preference for which method we use as long as it works.  Same for docker version.

While my PC is a corporate PC it is still meant for a demo/evaluation usecase. Nothing even remotely Production grade is

[2017-09-20 07:05] eschabell commented on #31
I just double checked mine, under CATOLOG -> DATA STORES I have (17*3+1) entries and they seem to work fine when I click and fill in the sample projects. Feels like your image streams are just not done pulling or are not pulling correctly?

I have not added any of the co commands you list above, including your policy line above.

[2017-09-20 08:43] eschabell commented on #31
I will do some testing with the catalog switch and make sure everything still working... stay tuned.

[2017-09-20 13:38] #31 closed, assigned to eschabell

[2017-09-20 13:40] eschabell commented on #31
Tagged new release v1.9 of this project with tech preview catalog enabled.

[2017-09-21 11:59] amandadebler commented on #31
@eschabell There are typos in init.bat in the Fuse image streams section (lines 240 and 248): "ttps://" instead of "https://"

[2017-09-21 12:14] eschabell commented on #31
@amandadebler thanks, fixed it.

[2017-09-25 06:08] gjayaram opened #32 "Service Catalog is not getting started, OCP failed"
Not able to start the OCP server, service catalog failed...

Tried with both versions of OC client (3.6.173.0.5) and 3.6.173.0.21.

The below issue is coming with 3.6.173.0.5, if i use 3.6.173.0.21 then the system is got struck at pulling images from registry.

gjayaram$ oc version
oc v3.6.173.0.5
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Server https://192.168.99.100:8443
kubernetes v1.6

[2017-09-25 15:35] eschabell commented on #32
I can tell you that using v3.6.173.0.5 will always end the way you have seen it. If you run it with the v3.6.173.0.21 I think it might come out differently. Getting stuck on pulling images is probably a networking issue that should go away (your bandwidth is good?).

Try and let me know what you get?

[2017-09-27 10:24] eschabell commented on #29
@sg1970, running a workshop this week using this and lucky enough to have someone in the class happy to test this out. He came up with this, can you try it please?

His adaption for init.bat:

_call docker-machine create --driver hyperv --hyperv-cpu-count "2" --hyperv-memory "10240" --hyperv-disk-size "10240" --engine-insecure-registry 172.30.0.0/16 --hyperv-boot2docker-url https://github.com/boot

[2017-09-27 23:56] sg1970 commented on #29
@eschabell

That command just hangs at Waiting for host to start... and although I kinda got around it but the end result is it did not make any difference for oc cluster up. The Details below.

[code]
**Output:**

So I cancelled it and compared it to the previous docker-machine create command and noticed that it differed only in the Memory size and explicitly specified disk-size.  So I deleted th

[2017-09-29 12:56] vhalbert opened #35 "cannot set up guest memory 'pc.ram': Cannot allocate memory'"
(openshift) Creating SSH key...
(openshift) Failed to start: virError(Code=1, Domain=10, Message='internal error: process exited while connecting to monitor: 2017-09-29T12:54:42.748222Z qemu-system-x86_64: cannot set up guest memory 'pc.ram': Cannot allocate memory')
Error creating machine: Error in driver during machine creation: virError(Code=1, Domain=10, Message='internal error: process exited

[2017-09-29 13:01] eschabell commented on #35
How much RAM are you allocating (see variable at top of init.sh or init.bat), do you have enough on your machine?

Default is 8GB but I have run this with 6GB many times.

[2017-09-29 13:24] vhalbert commented on #35
I have a 16gb machine, but was already using just over 8.  So I changed the init.sh to:  VM_MEMORY=6144

and it all has finished.  I can now access the OS catalog.

Thanks.

[2017-09-29 13:29] #35 closed, assigned to eschabell

[2017-10-06 07:45] gjayaram commented on #32
@eschabell thanks it worked with v3.6.173.0.21.

[2017-10-06 07:45] #32 closed, assigned to eschabell

[2017-10-06 17:53] sg1970 commented on #29
@eschabell

I tried the following with no luck (Still get the exact same error message)

1.  Temporarily disabling the Windows Firewall and the Symantec Antivirus.
2.  Tried with TLS disabled (SET DOCKER_TLS_VERIFY=0) and pointing to port 2375 ( using SET DOCKER_HOST=tcp://<openshift_VM_ip_address>:2375 )

But it does work beautifully on my home PC. I'am out of ideas at this point.

Are there any

[2017-10-09 08:37] eschabell commented on #29
I have no other ideas to help and lack a physical way to help test this.

[2017-10-21 20:42] leonboxboat opened #36 "Required active subscription to download OpenShift CLI"
Hi, and thanks for putting this together.

In your lightning talk you mention only needing a laptop and connection, and not having to login to RedHat Developers to be able to get the ImageStreams, but I am still required to have an active subscription to download the OpenShift CLI.

Is this intentional? Is the CLI outside the scope? Because IMHO it kind of goes contrary to the purpose of this repo

[2017-10-23 07:06] eschabell commented on #36
In the accompanying workshop there is a note to contact me if you have issues with access to the OC client... if you mail erics at red hat dot com I can help you.

[2017-10-23 07:06] #36 closed, assigned to nobody

[2017-10-26 23:10] Cricen opened #37 "problem with docker machine creation"
got the following error
docker version:  17.09.0-ce
OC version: 3.6.173
Virtual box version: 5.2.0
Centos 7
got the following error
docker version:  17.09.0-ce
OC version: 3.6.173
Virtual box version: 5.2.0
Centos 7

Version of installed OpenShift command line tools correct... v3.6.173
Setting up OpenShift docker machine...
./init.sh: line 161: docker-machine: command not found
Error occurred duri

[2017-10-27 03:35] Cricen commented on #37
Gave up on linux for the time being and got the same error on windows. To try and resolve it I tried to install docker-machine manually this time with git-bash. No dice.
virtual box: 5.2.0
docker-machine version 0.12.2, build 9371605
docker 17.09.0-ce, build afdb6d4
windows 10 v1607
oc v3.6.173.0.49
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

got some different output after the docker-machi

[2017-10-27 08:45] eschabell commented on #37
@Cricen, the docker-machine for linux can be pulled from here:

$ curl -L https://github.com/docker/machine/releases/download/v0.12.2/docker-machine-`uname -s`-`uname -m` >/tmp/docker-machine &&
chmod +x /tmp/docker-machine && sudo cp /tmp/docker-machine /usr/local/bin/docker-machine

Not sure how that works for Windows.

[2017-10-27 08:46] #29 closed, assigned to eschabell, sabre1041

[2017-10-27 21:44] Cricen commented on #37
Think there was a typo in the curl command. I ran:
[code]
which works but still no dice but got a slightly different error which is good...

Version of installed OpenShift command line tools correct... v3.6.173
Setting up OpenShift docker machine...
Driver "kvm" not found. Do you have the plugin binary "docker-machine-driver-kvm" accessible in your PATH?
Error occurred during openshift docker mach

[2017-10-27 23:23] Cricen commented on #37
duh, my bad I overlooked the top where it says I would need docker-machine and docker-machine-driver-kvm. installed both and added them but now I'm getting:

[2017-10-28 16:29] eschabell commented on #37
dial tcp is networking issues on your machine....

[2017-11-07 00:51] betazep opened #38 "Windows 10 Docker CE runs on Hyper-V... breaks VirtualBox"
Docker for Windows requires Hyper-V now.  Hyper-V disables VirtualBox. Your demo requires Virtual Box.

Have time to make this work on Windows using Docker Toolbox so that VirtualBox will work?
https://www.docker.com/products/docker-toolbox

[2017-11-07 11:34] eschabell commented on #38
I actually am working with a group that uses Windows 7 and they use Docker Toolbox, which is fine as a replacement, but they are having NAT issues between Windows 7 and VirtualBox.

I would be interested in your experience with Windows 10 using this?

[2017-11-07 11:35] eschabell commented on #37
Might want to look at NAT settings between your host and the Virtualbox machine(s).

[2017-11-07 17:25] betazep commented on #38
Hi Eric...

I think I have it working in HyperV by adjusting your windows script (docker-machine driver, typos, etc) and changing default network vswitch configuration for DockerNAT.  I will delete everything, recreate, re-run to ensure overwrite and provide updated script/instructions here.

Sean

[2017-11-07 18:03] eschabell commented on #38
@betazep my hero... we await your PR (and don't forget to add your name to the contributors variable in the init.bat... you earned it with this work)!

[2017-11-07 20:50] betazep commented on #38
### Use or change as you see fit... this is essentially what I did...  Thank you for providing these demos!
### ~ Sean
------------------------------------------
Windows 10 Instructions
1. Install OpenShift Client.
2. Install Docker for Windows (17.09+) with Hyper-V
3. Run Docker for Windows. This will require/install Hyper-V and will disable VirtualBox, Docker Toolbox, and/or VMware Workstation!

[2017-11-08 05:50] betazep commented on #38
I can do this thru PR tomorrow.

[2017-11-09 10:55] eschabell commented on #38
Merge commit https://github.com/redhatdemocentral/ocp-install-demo/commit/6f2399969feae5ea6ccdc8f8c889bb00ccbe5b40 fixes.

[2017-11-09 10:55] #38 closed, assigned to eschabell

[2017-11-21 19:50] Cricen commented on #37
No dude that's an annoying answer. I could ping any host on my network without issue, In any case I dropped this more than a week ago. I don't have time to keep troubleshooting it and I don't get why a redhat product demo/evaluation wouldn't work on CentOS. this could used improved document & testing especially since you guys want to charge ~2k per node for OpenShift. (just my two cents) What got

[2017-11-22 10:09] eschabell commented on #37
Since it's not an issue for you anymore and I can't reproduce.... closing this issue.

[2017-11-22 10:09] #37 closed, assigned to eschabell

[2017-11-27 13:46] Sprbb opened #40 "Reinstallation error."
Remove ocp-install-demo and install again. Unfortunately I got the follwing error while reinstalling:

(openshift) Creating VHD
Error creating machine: Error in driver during machine creation: exit status 1

Error occurred during openshift docker machine creation...

Cleaning out existing 'openshift' machine...

About to remove openshift
WARNING: This action will delete both local reference and re

[2017-11-27 14:00] eschabell commented on #40
There will be some way to remove the VM, via VirtualBox in Mac, via KVM in Linux and whatever the VM Manager is in Hyper-V if Windows system. See if you can find it and remove the 'openshift' named VM.

[2017-11-27 14:08] Sprbb commented on #40
Yes it works again !!!

[2017-11-27 14:11] #40 closed, assigned to eschabell

[2017-12-01 13:47] bhandaru opened #41 "Unable to connect to the server: net/http: TLS handshake timeout"
Hello,

I'm running this on mac with docker 17.09, oc 3.6.173 and have 172.30.0.0/16 added to the insecure-registry list on docker.

I get the following error when JBoss image is being created

```Unable to connect to the server: net/http: TLS handshake timeout```

What am I missing?

[2017-12-01 14:39] eschabell commented on #41
This is usually due to using an oc client with number v3.6.173.05 and you need v3.6.173.21.

$ oc version

oc v3.6.173.0.21
kubernetes v1.6.1+5115d708d7
features: Basic-Auth

Btw, just update this project to deliver OpenShift Container Platform v3.7, so the oc client would then need to be v3.7.9.

[2017-12-11 08:52] eschabell opened #42 "Missing decision server 6.3 in OCP 3.7 xpaas streams"
error: unable to read URL
"https://raw.githubusercontent.com/openshift/openshift-ansible/master/roles/openshift_examples/files/examples/v3.7/xpaas-templates/decisionserver63-basic-s2i.json",
server reported 404 Not Found, status code=404

[2017-12-11 08:53] eschabell commented on #42
Immediate fix is to use this after installation, first logging in and then pulling the xpaas tempate shown:

$ oc login -u system:admin

$ oc create -n openshift -f https://raw.githubusercontent.com/openshift/openshift-ansible/master/roles/openshift_examples/files/examples/v3.6/xpaas-templates/decisionserver63-basic-s2i.json

[2017-12-11 09:17] Sprbb commented on #42
Tnx for your fast reply.

--
Graag ontvang ik een bevestiging retour.

Met vriendelijke groet,

Bas Neve
bastiaanneve@gmail.com
316 14 12 00 71

2017-12-11 9:53 GMT+01:00 Eric D. Schabell <notifications@github.com>:

[2017-12-11 09:44] #42 closed, assigned to eschabell

[2017-12-11 09:45] eschabell opened #44 "Support Xhyve for OSX"
Add this VM Driver so that Docker engine no long needed and Virtualbox is an option for osX users.

[2017-12-11 10:08] eschabell commented on #44
This will remove the need for Docker engine as a requirement for OCP usage and Red Hat Demo Central examples. :-)

[2017-12-11 10:29] #44 closed, assigned to eschabell

[2017-12-13 13:12] Sprbb opened #46 "3.7still asks for boot2docker.iso."
Error occurred during openshift docker machine creation...

Cleaning out existing 'openshift' machine...

About to remove openshift
WARNING: This action will delete both local reference and remote instance.
(openshift) Failed to fetch machine
Error removing host "openshift": unexpected EOF
Successfully removed openshift
Setting up OpenShift docker machine using kvm...

Running pre-create checks...

[2017-12-13 14:10] eschabell commented on #46
This is an issue, seems the fallback from cache is to look for cache again, should be looking to download if cache missing.

[2017-12-13 14:10] #46 closed, assigned to eschabell

[2017-12-31 06:52] parthashp opened #47 "getting dial tcp: missing address error"
I am trying to setup OCP in RHEL 7.4 and getting below error. Could you please help me to resole this one?

You are running on Linux.
This script assumes you are going to use KVM on Linux.
You'll need to install docker-machine and docker-machine-driver-kvm in your $PATH manually.
Download them from https://github.com/docker/machine/releases and https://github.com/dhiltgen/docker-machine-kvm/releas

[2017-12-31 11:31] Sprbb commented on #47
Please give all output. from $ and so on.

2017-12-31 7:52 GMT+01:00 parthashp <notifications@github.com>:

[2017-12-31 12:09] eschabell commented on #47
@parthashp, I think you might be missing the entry for insecure registry.... used to be part of the Docker engine configuration when you ran it as a daemon, but not sure how to adjust for the docker-machine command being run on KVM.

Maybe investigate in the direction of looking at how to add that in the config or command that creates your docker-machine KVM image?

Hints are give here in the docs

[2017-12-31 12:10] #41 closed, assigned to eschabell

[2018-02-08 04:41] sidd-harth opened #48 "Error creating machine: Error in driver during machine creation: exit status 1"
Hi, I am trying to install OCP on win10. I downloaded the zip & ran 'init-win10.bat' with Administrative privileges. This is the error trace, kindly help me out.

OpenShift command line tools installed... checking for valid version...
Docker-machine command line tools installed...
Version of installed OpenShift command line tools correct... v3.7.9
Setting up OpenShift docker machine...
Docker mach

[2018-02-08 11:32] eschabell commented on #48
@sidd-harth,

This install requires Hyper-V on win10, is that installed to host the OCP installation? (I can't check for that).

[2018-02-08 11:33] eschabell commented on #47
Assume works as not reply, reopen if need to.

[2018-02-08 11:33] #47 closed, assigned to eschabell

[2018-02-08 11:43] sidd-harth commented on #48
@eschabell , yes Hyper-V is installed & in HyperV Manager I configured ocpNET switch...in above trace you can see OCP installation it is using it..

(openshift) 0%....10%....20%....30%....40%....50%....60%....70%....80%....90%....100%
(openshift) Creating SSH key...
(openshift) Creating VM...
**(openshift) Using switch "ocpNET"**
(openshift) Creating VHD
(openshift) Starting VM...

[2018-02-08 15:58] eschabell commented on #48
Going to see if we can pull in @betazep to help with your issues, he was the one to submit the Hyper-V solution and might be able to help?

[2018-02-09 04:23] betazep commented on #48
@sidd-harth

 How much memory do you have in your machine? Also which memory value is not commented out in the batch file? I have seen this happen when there is not enough memory to start the machine.

[2018-02-09 04:25] betazep commented on #48
I find it is a good idea to manually delete the open shift VM created in hyper V before running the script. I did have some intermittent failures when I left the script delete the VM and then re-create it.

[2018-02-09 04:43] sidd-harth commented on #48
Hi @betazep , let me explain my infrastructure a bit. I have a Win 10 Home edition(no HyperV) with 16GB memory. So I downloaded a Win 10 Enterprise OVA and running it in VirtualBox with 5GB memory. I can increase it to 8GB maybe.

Yes, I tried deleted the openshift VM manually in Hyper-V and when I run the script I get the same error.

[2018-02-09 07:59] eschabell commented on #48
@sidd-harth, I think what you might need to increase is the init-win10.bat memory settings (that's what @betazep is referring to), found on lines 22-24:

REM uncomment amount memory needed, sets RAM usage limit for OCP, default 6 GB.
REM set VM_MEMORY=10240
set VM_MEMORY=6144
REM set VM_MEMORY=3072

Remove the REM for the memory that you might need. This setting was defaulted to what most UNIX bas

[2018-02-09 08:54] betazep commented on #48
Yeah the problem is there isn’t enough FREE memory to start the VM with docker-machine. Running OCP with three gigs is just not enough either. The hyperV VM for docker Takes two gigs of memory by itself, but I found that you can manually set that to one gig with no issue. (Inside hyperv manager)

[2018-02-09 08:58] betazep commented on #48
If you give your win 10 enterprise VM 8g, manually decrease the docker VM to 1g, and check  commit charge and see greater than 6g free... it should start the vm for you. I think it’s a hyper V problem because hyper V want to start the VM without enough physical memory to do so.

[2018-02-09 09:00] betazep commented on #48
*won’t start the VM*

[2018-03-20 05:19] cgsk123 opened #49 "Error restarting the cluster - cert issue"
After installing the OCP cluster on Windows 10, if you restart the docker-machine.

It throws below error
[code]

To fix the issue, i used

[code]

Then the error goes off. But could not 'oc login', it throws
[code]
how to fix the issue? it seems whenever i restart my laptop totally cluster/docker-machine is in a corrupt status.

How to install once the cluster/docker-machine and use it without fa

[2018-03-20 10:15] eschabell commented on #48
Closing, reopen if @betazep's fix did not work for you.

[2018-03-20 10:15] #48 closed, assigned to eschabell

[2018-03-20 10:16] eschabell commented on #49
Bringing in @betazep as our resident Hyper-V expert.

@betazep, can you help?

[2018-03-20 14:49] betazep commented on #49
Hmmm...  well this appears to be less of a Hyper-V/docker-machine based issue and more about how OCP configured for a specific top end IP address and nip.io DNS name can handle an IP address change.  I am curious how it behaves when the same IP address is used after a restart.   Whenever I needed to run a demo... I just deployed a fresh environment.  I can say that "deploying new" is a much easier

[2018-03-20 23:20] betazep commented on #49
So when the docker-machine (openshift) is restarted, the cluster doesn't come back up.  You have to bring it back up again.  With the same IP address, you can bring the cluster back up with:

`oc cluster up --image=registry.access.redhat.com/openshift3/ose --host-data-dir=/var/lib/boot2docker/ocp-data  --docker-machine=openshift --host-config-dir=/var/lib/boot2docker/ocp-config --use-existing-conf

[2018-03-21 00:52] cgsk123 commented on #49
The intention was to retain the OCP cluster is to play with it and i hate to lose my demo work whenever i restart my laptop or restart the docker-machine

[code]

[2018-03-21 14:15] betazep commented on #49
Yeah... pretty much what I thought would happen.  I guess there are two options.
1. Get a static IP going in the docker-machine host.
2. Figure out everything that needs to change in OCP due to an IP change (which all services reside on in a single machine deployment). Obviously certs would have to be regenerated inside OCP as well.

The second one exceeds my ability at the moment.  I don't know t

[2018-03-21 14:45] eschabell commented on #49
This is indeed a demo environment and don't plan to facilitate the described IP updates.

[2018-03-22 07:01] cgsk123 commented on #49
@betazep Thanks ... static IP approach worked
**Steps:**
1. Fresh Install using the init script example init-win10.bat
2. Get the ip of the docker-machine (example: 192.168.0.30)
3. After the install, ssh into(docker-machine ssh openshift) and (create)modify the /var/lib/boot2docker.sh
Get the other ips from your host os ipconfig
[code]
4. ocp-stop.sh (wait for merge in Hyper-v)
5. Start the machi

[2018-03-22 13:02] betazep commented on #49
@cgsk123

Great! Thanks for the complete instructions. :)

~b

[2018-06-06 17:40] bfalor opened #50 "Docker Machine creation cert error"
When I run the ./init.sh script I get this error

Running pre-create checks...
(openshift) Boot2Docker URL was explicitly set to "https://github.com/boot2docker/boot2docker/releases/download/v1.13.1/boot2docker.iso" at create time, so Docker Machine cannot upgrade this machine to the latest version.
Creating machine...
(openshift) Boot2Docker URL was explicitly set to "https://github.com/boot2dock

[2018-06-07 14:54] eschabell commented on #50
@bfalor have you tried pasting that url into your browser? Does it download an iso?

If so put it in your cache directory and re-run init.sh:

~/.docker/machine/cache/boot2docker.iso

[2018-06-07 14:55] eschabell commented on #49
Resolved it seems.

[2018-06-07 14:55] #49 closed, assigned to eschabell

[2018-09-20 08:53] thunderguyy opened #51 "error"
Running pre-create checks...
Creating machine...
(openshift) Image cache directory does not exist, creating it at /root/.docker/machine/cache...
(openshift) Downloading /root/.docker/machine/cache/boot2docker.iso from file:///root/.docker/machine/cache/boot2docker.iso...
Error creating machine: Error in driver during machine creation: open /root/.docker/machine/cache/boot2docker.iso: no such file

[2018-09-21 08:32] eschabell commented on #50
Closing for now, if need be reopen on gitlab where this project moved to: https://gitlab.com/redhatdemocentral/ocp-install-demo

[2018-09-21 08:32] #50 closed, assigned to eschabell

[2018-09-21 08:33] eschabell commented on #51
This project moved to Gitlab, please try it again there and raise issue there if a problem:

https://gitlab.com/redhatdemocentral/ocp-install-demo

[2018-09-21 08:33] #51 closed, assigned to eschabell

[2019-01-15 01:47] chiaoyiwang opened #52 "Install OpenShift on win10 issue"
The error is below:
Running pre-create checks...
Error with pre-create check: "Hyper-v commands have to be run as an Administrator"

Error occurred during openshift docker machine creation...

Cleaning out existing 'openshift' machine...

About to remove openshift
WARNING: This action will delete both local reference and remote instance.
Error removing host "openshift": Docker machine "openshift"

[2019-01-15 11:08] eschabell commented on #52
Two things here, I fixed the link above to point to where this project moved to (missed that on the migration), second, as a result please see https://gitlab.com/redhatdemocentral/ocp-install-demo/issues/new for new issues.

[2019-01-17 13:57] eschabell commented on #52
@betazep could you, or would you mind taking a look over on:

https://gitlab.com/redhatdemocentral/ocp-install-demo/issues/52

 Could use your expertise and didn't find a gitlab username for you yet. ;-)

[2019-02-14 15:01] renatotirone opened #53 "i'm a newbie sorry :"
these links are dead
404
https://raw.githubusercontent.com/openshift/openshift-ansible/master/roles/openshift_examples/files/examples/v3.10/xpaas-streams/decisionserver63-image-stream.json

ranting rights to service catalog access...

cluster role "system:openshift:templateservicebroker-client" added: ["system:unauthenticated" "system:authenticated"]

Updating JBoss image streams...
error: unable

[2019-02-14 15:18] eschabell commented on #52
Update: June 2018 moved to Gitlab.

[2019-02-14 15:18] #52 closed, assigned to eschabell

[2019-02-14 15:20] eschabell commented on #53
No worries, this has moved and not updated / maintained here.

README states - Update: June 2018 moved to Gitlab.

https://gitlab.com/redhatdemocentral/ocp-install-demo

[2019-02-14 15:20] #53 closed, assigned to eschabell

[2019-06-16 14:43] crajesh238 opened #54 "installation failed"
ou are running on Linux.
This script assumes you are going to use KVM on Linux.
You'll need to install docker-machine and docker-machine-driver-kvm in your $PATH manually.
Download them from https://github.com/docker/machine/releases and https://github.com/dhiltgen/docker-machine-kvm/releases, respectively.
Docker-machine tooling installed...

OpenShift command line tools installed... checking for

[2019-06-16 16:10] crajesh238 opened #55 "The json path in init.sh are returning 404 not found exception"
The http:// path for json files present in init.sh are returning null.

[2019-06-16 16:11] #54 closed, assigned to nobody

[2019-06-16 16:29] crajesh238 commented on #55
OLD URL : "https://raw.githubusercontent.com/openshift/openshift-ansible/master/roles/openshift_examples/files/examples/v3.10/xpaas-streams/decisionserver63-image-stream.json"

NEW URL : https://raw.githubusercontent.com/openshift/openshift-ansible/release-3.10/roles/openshift_examples/files/examples/v3.10/xpaas-streams/decisionserver63-image-stream.json

The new URL worked as I replaced master wi

[2019-06-16 19:22] eschabell commented on #55
@crajesh238,

Thanks for the report, but  please see Readme for this project - "Update: June 2018 moved to [Gitlab](https://gitlab.com/redhatdemocentral/ocp-install-demo)."

You'll find this problem fixed over at the [Gitlab project](https://gitlab.com/redhatdemocentral/ocp-install-demo).

[2019-06-16 19:22] #55 closed, assigned to eschabell